<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-lg-4">
        <div>
          <!-- <h1>You Searched For: Stuff</h1> -->
          <h1>You Searched For: <%= data.userQuery %></h1>

          <% if(data.loggedIn) { %>
          <h2>You are log in as : <%= data.username %></h2>
          <% } %>

          <Ul>
            <!-- <li><%= data.searchResults[0] %></li>
            <li>dummy data</li>
            <li>dummy data</li> -->

            <% data.searchResults.forEach(result => { %>
            <li><%= result %></li>
            <% }); %>
          </Ul>
        </div>
      </div>
    </div>

    <script src="/public/js/example.js"></script>
  </body>
</html>
